.navBar {
  padding-top: 17.5px;
  justify-self: start;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-left: 0;
  position: sticky;
  top: 0;
  align-self: start;
}

.navBar .logo {
  margin-left: 15px;
  width: 28.5px;
  padding-bottom: 5px;
}

.navButton {
  display: flex;
  gap: 15px;
  align-items: center;
  width: fit-content;
  padding: 5px 10px;
  padding-right: 20px;
  transition: 0.15s;
  border-radius: 1000px;
}

.navButton:hover {
  cursor: pointer;
  background-color: rgb(231, 231, 231);
}

.navButton.active .navName {
  font-weight: 700;
}

.navIcon {
  width: 35px;
}

.navName {
  font-size: 2.05rem;
  letter-spacing: 0.5px;
}
