.profilePage {
}

.profilePage header {
  padding: 0 10px;
  display: flex;
  gap: 15px;
  align-items: center;
  height: 52.5px;
}

.profilePage header .info {
  height: 100%;
  padding: 6px 0;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header .backContainer {
  border-radius: 1000px;
  transition: 0.2s;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .backContainer:hover {
  cursor: pointer;
  background-color: var(--light-grey);
}

.profilePage header .name {
  font-size: 2rem;
  font-weight: 700;
}

.profilePage header .chirps {
  font-size: 1.4rem;
  color: var(--light-black);
}

.profilePage header img {
  width: 22px;
}

.profilePage .banner {
  background-color: #989898;
  height: 200px;
}

.profilePage .profileInfo .profilePicContainer {
  width: 140px;
  height: 140px;
  transform: translateY(-75px);
  margin-bottom: -75px;
  background-color: #fff;
  border-radius: 1000px;
}

.profilePage .profileInfo .profilePicContainer > img {
  width: 132.5px;
  height: 132.5px;
}

.profilePage .profileInfo .profilePicContainer:hover {
  cursor: pointer;
}

.profileInfo {
  position: relative;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-bottom: 20px;
}

.profileInfo .accountNames {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 2.5px;
  margin-top: 5px;
}

.profileInfo .name {
  font-size: 2rem;
  font-weight: 800;
}

.at {
  color: var(--light-black);
  font-size: 1.55rem;
}

.bio {
  font-size: 1.525rem;
  line-height: 1.25;
}

.joinDate {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: var(--light-black);
  gap: 5px;
}

.joinDate img {
  width: 20px;
  filter: invert(39%) sepia(0%) saturate(3%) hue-rotate(216deg) brightness(95%)
    contrast(78%);
}

.followStats {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.5rem;
  color: var(--light-black);
}

.followStats .number {
  font-weight: 600;
  color: black;
}

.tabs {
  position: relative;
  display: flex;
  height: 52.5px;
  border-bottom: 1px solid var(--light-grey);
}

.profilePage .indicator.chirps {
  left: 47.5px;
}
.profilePage .indicator.replies {
  left: 197px;
}
.profilePage .indicator.media {
  left: 346.5px;
}
.profilePage .indicator.likes {
  left: 495.5px;
}

.profileButton {
  position: absolute;
  padding: 10px 20px;
  border-radius: 1000px;
  font-size: 1.5rem;
  font-weight: 700;
  border: 1px solid rgb(207, 207, 207);
  top: 15px;
  right: 15px;
}

.editButton:hover {
  cursor: pointer;
  background-color: var(--white-hover);
}

#bio {
  font-family: 'Chirp', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  min-height: 54px;
  padding: 4px;
  resize: none;
  overflow: hidden;
}

input.name,
input.at {
  width: content;
}

.usernameInputContainer {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: var(--light-black);
}
